.header {
  @extend %stretch-width;
  position: absolute;
  z-index: 1;
  top: 0;
  padding: 10px;
  background: 
    linear-gradient(90deg, #5f003e, #df545a);
  animation: gradientBG 10s ease infinite;
  background-size: 250% 250%;
  background-repeat: no-repeat;

  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }

  &-settings {
    float: right;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    line-height: 39px;
    margin-right: 40px;
    font-size: 13px;
    font-weight: bold;
  }

  &-logo {
    @include image-2x('../images/faucet_top@2x.png', 182px, 57px);
    float: right;
    width: 182px;
  	height: 57px;
    background-image: url(../images/faucet_top.png);
    background-repeat: no-repeat;
  }

  &-new-ballot {
    @extend %btn;
    @extend %btn-new;
    float: right;
    margin-top: 3px;
  }
}

.center-logo-img {
  display: block;
  margin: 5px auto;
  max-width: 50%;
  max-height: 57px;
}