button,
input,
textarea {
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

input {
  appearance: none;
  margin-bottom: 20px;
  width: 90%;
  background: #f8f8f8;
  color: #333;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 0px 5px 7px -4px #000000;
  transition: all 0.3s;
  padding: 10px 30px 10px 10px;
  position: relative;
  
}

input:focus {
  outline: none;
  box-shadow: 0px 5px 7px -4px #992579;
}

input:hover {
  opacity: 0.9;
}
