button,
input,
textarea {
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

input {
  transition: 0.3s border-color;
  width: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid lightgray;

  &:focus {
    border-color: #992579 !important;
  }
}

input {
  padding: 0 15px;
  height: 36px;
  margin-bottom: 20px;
}